body{
	background: url(/img/confectionary.png) repeat;
}
.home-main{
	text-align: center;
}
.home-main-image{
	margin: auto;
}
.home-main-text{
	font-family: 'Josefin Slab', serif;
	margin-bottom: 20px;
}
.home-sub-text{
	font-size: 14px;
	color: #888;
}
.gallery-container{
	margin: auto;
	text-align: center;
	margin: auto;
	display: inline-block;
	width: 401px;
	height: 601px;
	margin: 50px 0 0 0;
	position: relative;
	z-index: 100;
	background-color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.gallery-image{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	position: absolute;
	opacity: 100;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 2.5s ease-in-out;
	-moz-transition: opacity 2.5s ease-in-out;
	-ms-transition: opacity 2.5s ease-in-out;
	-o-transition: opacity 2.5s ease-in-out;
	transition: opacity 2.5s ease-in-out;

}
.gallery-image.fade{
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}
.background{
	background-color: #ffdfdf;
	height: 200px;
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 270px;
}
#footer{
	font-size: 12px;
	display: inline-block;
	padding:2px 5px 1px 5px;
	color: #bbb;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
}