#footer{
	font-size: 12px;
	display: inline-block;
	padding:2px 5px 1px 5px;
	color: #bbb;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
}