.navbar-header .branding{
	display: inline-block;
	margin: auto;
	position: relative;
	line-height: normal;
	font-size: 32px;
	vertical-align: middle;
	font-family: 'Great Vibes', cursive;
	margin-top: 10px;
	text-align: center;
}
.navbar-header .branding a{
	text-decoration: none;
	color: inherit;
}

.navbar-collapse{
	clear:both
}
.navbar{
	margin-bottom: 0px;
}
.navbar-nav{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #b76e79;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: #cf9ea6;
	color: #fff;
}
@media (min-width: 900px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
		padding-bottom: 10px;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
	.navbar-nav > li > a {
		padding: 5px 10px 5px 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}
@media (max-width: 899px) {
	.navbar-header .branding{
		font-size: 28px;
	}
	.navbar .navbar-home{
		display: none;
	}
}