.couple-container{
}
.main-image{
	margin: 25px auto 25px auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.person{
	text-align: center;
	border: 1px solid #cf9ea6;
	padding: 5px;
	background-color: #fff;
	margin-bottom: 20px;
}
.puppy{
	text-align: center;
	border: 1px solid #cf9ea6;
	padding: 5px;
	background-color: #fff;
	margin-bottom: 20px;
}
.inner{
	border: 1px solid #cf9ea6;
	padding: 25px;
}
.title{
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 24px;
}
.name{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 36px;
	margin-bottom: 25px;
	color: #7a7a7a;
}
.content{
	text-align: left;
}
.question-header{
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #cf9ea6;
}
ol{
	font-weight: bold;
	padding-left: 20px;
}
ol li p{
	font-weight: normal;
}