.date{
	margin-top: 25px;
	font-size: 28px;
	font-family: 'Great Vibes', cursive;
	text-align: center;
}
.events{
	margin-top: 25px;
	margin-bottom: 50px;
}
.event-image{
	text-align: center;
	margin-bottom: 15px;
	padding-top: 10px;
}
.event-image img{
	margin: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 175px;
}
.event{
	margin-bottom: 25px;
}
.event .time{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #777;
}
.event .location{
	font-size: 24px;
	margin-bottom: 5px;
	font-weight: 300;
	color: #333;
}
.event .address{
	color: #cf9ea6;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 16px;
}
.event .title{
	font-family: 'Lora', serif;
	font-size: 22px;
	margin-bottom: 10px;
}

.event .content{
	margin-bottom: 15px;
}
.info .title{
	font-size: 28px;
	text-align: left;
	font-style: italic;
	font-family: 'Lora', serif;
	margin-bottom: 15px;
}
.topic{
	margin-bottom: 25px;
}
.info .topic-title{
	font-family: 'Lora', serif;
	font-size:24px;
	margin-bottom: 5px;
}
.topic .color-container{
	display: inline-block;
	margin-right: 15px;
}
.topic .color{
	height: 50px;
	width: 50px;
	border: 1px solid #bbb;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-ms-behavior: url(/backgroundsize.min.htc);
}
.topic .color-title{
	text-align: center;
	color: #777;
	font-size: 12px;
}
@media (max-width: 991px) {
	.event-image img{
		height: auto;
		max-height: 175px;
	}
}