.couple-container{
}
.main-image{
	margin: 25px 0 25px 0;
}
.person{
	text-align: center;
	border: 1px solid #cf9ea6;
	padding: 5px;
	background-color: #fff;
}
.inner{
	border: 1px solid #cf9ea6;
	padding: 25px;
}
.title{
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 24px;
}
.name{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 36px;
	margin-bottom: 25px;
	color: #7a7a7a;
}
.content{
	text-align: left;
}